.styledGame {
	margin: 20px auto;
}

.square {
	width: 65px;
	height: 65px;
}

.dark {
	background-color: gray;
}

.light {
	background-color: orange;
}

.sqSelected {
	background-color:#216778;
}

.hidden { background-color: white !important }