body {
	background-color: lightgray;
}

header {
	text-align: center;
}

#Board {
	position: relative;
	margin:20px auto;
	width: 720px;
	height: 720px;
	border-width: 0px;
}

#control {
	text-align: center;
}

.Square {
	position: absolute;	
	width: 60px;
	height: 60px;
}

.Dark {
	background-color: gray;
}

.Light {
	background-color: orange;
}

.SqSelected {
	background-color:#216778;
}


.rank1 { top: 660px; }
.rank2 { top: 600px; }
.rank3 { top: 540px; }
.rank4 { top: 480px; }
.rank5 { top: 420px; }
.rank6 { top: 360px; }
.rank7 { top: 300px; }
.rank8 { top: 240px; }
.rank9 { top: 180px; }
.rank10 { top: 120px; }
.rank11 { top: 60px; }
.rank12 { top: 0px; }

.file1 { left: 0px; }
.file2 { left: 60px; }
.file3 { left: 120px; }
.file4 { left: 180px; }
.file5 { left: 240px; }
.file6 { left: 300px; }
.file7 { left: 360px; }
.file8 { left: 420px; }
.file9 { left: 480px; }
.file10 { left: 540px; }
.file11 { left: 600px; }
.file12 { left: 660px; }

.hidden { background-color: lightgray !important }





































