.styledGame {
	margin: 20px auto;
}

.square {
	width: 65px;
	height: 65px;
	border-width: 0;
}

.dark {
	background-color: gray;
}

.light {
	background-color: orange;
}

.sqSelected {
	background-color:#216778;
}

.sqPossible {
	border: 2px solid teal;
}

.attacked {
	border: 2px solid red;
}

.hidden { background-color: white !important }